{
  "name": "common-mailer-nest11-consumer",
  "version": "0.0.0",
  "private": true,
  "engines": {
    "node": "^20.19.0 || ^22.13.0 || >=24.11.0"
  },
  "dependencies": {
    "@anarchitects/common-nest-mailer": "file:common-mailer.tgz",
    "@nestjs/common": "11.1.6",
    "@nestjs/core": "11.1.6",
    "@nestjs/testing": "11.1.6",
    "@nestjs/config": "4.0.2",
    "@nestjs-modules/mailer": "3.0.2",
    "nodemailer": "8.0.5",
    "handlebars": "4.7.9",
    "reflect-metadata": "0.1.14",
    "rxjs": "7.8.2"
  },
  "devDependencies": {
    "typescript": "6.0.3",
    "@types/node": "22.18.6"
  }
}
